body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 14, 14);
    color: white;
    transition: 0.5s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes scale {
    from {
        transform:scale(1.2);
    }
    to {
        transform:scale(1.5);
    }
}

.agentsgams {
    left: 40px;
    bottom: 200px;
}

.agentsunblckr {
    left: 40px;
    top: 200px;
}

.agentsemulator {
    left: 250px;
}

.agentsyaproom {
    right: 320px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    padding: 40px;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 100px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
}

.circles-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.spin {
    animation: spin 4s infinite alternate linear, scale 4s infinite alternate linear;
}

.circle {
    position :absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.circleIntro {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.circle:hover {
    transform: scale(2);
}

.text {
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    text-decoration:underline;
}

.introText {
    text-decoration: none;
}

#title {
    text-decoration: none;
    font-size: xx-large;
}

.hidden {
    display:none;
}